doctype html
html
  head
    title post it
    script(src='/jquery.js')
    script(src='/javascripts/blog.js')
  body
    form(id='blog' method='post' action='/blog/admin')
      input(id='title' name='title' type='text')
      input(id='pBody' name='pBody' type='text')
      input(id='bSend' type='submit')
