doctype html
html
  head 
    title tyler hill web development
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
  body
    main
      #wrap: #cube: #content
        block content

