extends layout

block content
  h1 Goals for BART
  iframe(src="https://www.youtube.com/embed/a6ONqXMGhaY" frameborder="0") 
  ul#goals 
    li System Reliability 
    li Public Safety
    li Wifi Access
    li Increase Ridership and Revenue
