extends cube

block content
  nav
    a(href='https://github.com/tylerhill') Github
    a(href='/tylerhillresume.pdf') Resume
    a(href='/portfolio') Portfolio
  #copy
    p MVC / MEAN Stack / Ruby on Rails
    p O Auth 2.0 / RESTful API
    p Python / PHP / SQL
  #contact
    p (650) 787-8764
    p tylerhillwebdev@gmail.com

