extends cube

block content
  nav
    a(href='https://github.com/tylerhill') Github
    a(href='/tylerhillresume.pdf') Resume
    a(href='/portfolio') Portfolio
  #copy
    p Node.js, Ruby on Rails
    p MEAN / LAMP Stack
    p PHP, JS, Ruby, Python
  #contact
    p (650) 787-8764
    p tylerhillwebdev@gmail.com

