extends layout

block content
  h1 Luke Lucas 
  h2 BART District 9
  #bio
    img(src='images/luke.jpg')
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac nulla non elit commodo cursus eget auctor lectus. Nunc tempor a elit eget convallis. Proin mattis at elit et laoreet. Nulla lacinia risus ultrices, pellentesque nisi at, pretium felis. Vestibulum sodales fermentum nisi a consequat. Proin tincidunt libero ut velit facilisis, in tempor odio condimentum. Curabitur quis eleifend justo. Quisque malesuada imperdiet justo a suscipit. Nulla facilisi. Fusce pharetra nisi sed finibus imperdiet. Proin lacinia, velit vel auctor aliquam, tellus turpis laoreet neque, nec porta diam augue a purus. Cras mollis fringilla aliquam. Cras auctor rhoncus eros, ac mattis odio. Duis tincidunt nunc et magna semper, ultricies maximus tortor viverra. Donec luctus, lacus id consectetur maximus, neque odio gravida nunc, vel condimentum nisl mauris non nibh. 
  #preview
    a(href='/blog')
      h1 #{post.title}
      p #{post.pBody}
