doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/remstyle.css')
    script(src='/jquery.js')
    script(src='/javascripts/remindex.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js')
  body
    header 
      a(href='/remwell')
        img(src='/images/logo.svg')
        h1 Remember Well
    block content
